.header {
  border-bottom: 1px solid rgba(138, 138, 137, 0.2);
}

.container {
  max-width: 1440px;
  padding: 20px 128px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-family: 'Montseray', sans-serif;
  color: #3470ff;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.33;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-family: 'Montseray', sans-serif;
  color: #121417;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.33;
  transition: color 250ms linear;
}

.link:hover {
  color: #0b44cd;
}
