.titleWrap {
  padding: 150px 0;
  background-image: linear-gradient(
      rgba(24, 22, 23, 0.2),
      rgba(24, 22, 23, 0.2)
    ),
    url('../image/background.jpg');
  background-size: cover;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 128px;
}

.title {
  text-align: center;
  margin-bottom: 32px;
  font-family: 'Montseray', sans-serif;
  color: #121417;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.33;
}

.subtitle {
  text-align: center;
  margin: 0 auto 32px auto;
  max-width: 800px;
  color: #121417;
  font-size: 18px;
  line-height: 1.43;
}

.link {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 44px;
  border-radius: 12px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.43;
  background-color: #3470ff;
  border: none;
  cursor: pointer;
  transition: background-color 250ms linear;
}

.link:hover {
  background-color: #0b44cd;
}

.brandsList {
  padding: 40px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.brandItem {
  width: calc((100% - 280px) / 8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.brandImg {
  width: 100%;
}
