.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(18, 20, 23, 0.5);
  z-index: 1200;
}

.modal {
  width: 541px;
  padding: 40px;
  border-radius: 24px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  scroll-behavior: auto;
}

.closeIcon {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
  stroke: #121417;
  transition: stroke 250ms linear;
}

.closeIcon:hover {
  stroke: #0b44cd;
}

.image {
  border-radius: 14px;
  margin-bottom: 14px;
}

.title {
  color: #121417;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 8px;
}

.accent {
  color: #3470ff;
}

.optionsListWrap {
  margin-bottom: 14px;
}

.optionsList {
  display: flex;
  flex-wrap: wrap;
}

.optionsItem {
  color: rgba(18, 20, 23, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  padding-right: 12px;
  position: relative;
}

.optionsItem:not(:last-child)::after {
  content: '';
  width: 1px;
  height: 16px;
  display: block;
  background-color: rgba(18, 20, 23, 0.1);
  top: 0;
  right: 6px;
  position: absolute;
}

.description {
  color: #121417;
  font-size: 14px;
  line-height: 1.43;
  margin-bottom: 24px;
}

.subTitle {
  color: #121417;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  margin-bottom: 8px;
}

.rentalBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 44px;
  border-radius: 12px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.43;
  background-color: #3470ff;
  border: none;
  cursor: pointer;
  transition: background-color 250ms linear;
}

.rentalBtn:hover {
  background-color: #0b44cd;
}

.conditionsList {
  margin-bottom: 24px;
  display: inline-flex;
  gap: 8px;
  flex-wrap: wrap;
}

.conditionItem {
  color: #363535;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 35px;
  background-color: #f9f9f9;

  padding: 7px 14px;
}

.accentConditions {
  color: #3470ff;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.02%;
}
